body {
	height: 100%;
	margin: 0px;
	position: relative;
}

a {
	text-decoration: none;
	color: unset;
}

.flex_link {
	display: flex;
}

.page-width {
	height: 100%;
	width: 1312px;
	margin: 0px auto;
}

.text-center {
	text-align: center !important;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 960px) and (min-width: 640px)  {
	
}

@media screen and (max-width: 1440px) and (min-width: 960px)  {
	
}

@media screen and (min-width: 1440px)  {
	.page-width {
		width: 1312px;
		margin: 0px auto;
	}
}