html {
    background-color: #cbb93c !important;
}

body {
	background-color: #cbb93c;
}

.header-container {
	padding-top: 30px;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-content--right {
	display: flex;
	align-items: center;
}

.header-menu--button {
	color: #BFAB25;
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	line-height: 22px;
	text-align: center;
	padding: 0px 32px;
	border: 3px solid #cbb93c;
}

.header-menu--button:hover {
	opacity: 0.7;
	cursor: pointer;
}

.header-menu--hamburger {
	margin-left: 32px;
}

.body-container {
	height: 100%;
}

.body-content {
	text-align: -webkit-center;
}

.body-header {
	padding-top: 16px;
	width: 100%;
	display: flex;
}

.body-header--left {
	height: 16px;
	width: 606px;
	border-bottom: 2px solid #000000;
}

.body-header--center {
	width: 100px;
	text-align: center;
}

.body-header--right {
	height: 16px;
	width: 606px;
	border-bottom: 2px solid #000000;
}

.body-title {
	padding-top: 16px;
	color: #000000;	
	font-family: "Playfair Display";
	font-size: 48px;
	font-weight: 900;
	letter-spacing: 0.02px;
	line-height: 64px;
	text-align: center;
}

.body-description {
	width: 864px;
	color: #000000;
	font-family: Arial;
	font-size: 16px;
	line-height: 32px;
	text-align: center;
	margin: 32px auto 0px;
}

.body-form {
	width: 416px;
	margin-top: 64px;
}

.form-video video {
	cursor: pointer;
}

.form-email {
	margin-top: 48px;
	text-align: left;
}

.form-email p {
	margin-bottom: 10px;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 16px;
}

.form-schedule {
	margin-top: 48px;
}

.form-email--input {
	width: calc(100% - 6px);
	height: 48px;
	border: 3px solid #FFFFFF;
	border-radius: 8px;
	background-color: #FFFFFF;
}

.form-schedule--button {
	height: 48px;
	width: calc(100% - 6px);
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	background-color: #cbb93c;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	line-height: 48px;
	text-align: center;
	cursor: pointer;
	opacity: 0.5;
}

.form-schedule--button:hover {
	opacity: 0.8;
}

@media screen and (max-width: 640px) {
	.page-width {
	    width: calc(100% - 40px);
	    margin: 0px auto;
	}

	.body-title {
		font-size: 28px;
		line-height: 32px;
	}

	.body-description {
		width: unset;
		line-height: 28px;
	}

	.body-form {
		width: 260px;
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 960px) and (min-width: 640px)  {
	.page-width {
	    width: calc(600px);
	    margin: 0px auto;
	}
	.body-title {
		font-size: 28px;
		line-height: 32px;
	}

	.body-description {
		width: unset;
	}

	.body-form {
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 1440px) and (min-width: 960px)  {
	.page-width {
	    width: calc(900px);
	    margin: 0px auto;
	}
}

@media screen and (min-width: 1440px)  {
}