html {
    background-color: #5c6065 !important;
}

body {
	background-color: #5c6065;
}

.header-container {
	padding-top: 30px;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-content--right {
	display: flex;
	align-items: center;
}

.header-menu--button {
	color: #BFAB25;
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	line-height: 22px;
	text-align: center;
	padding: 0px 32px;
	border: 3px solid #cbb93c;
}

.header-menu--button:hover {
	opacity: 0.7;
	cursor: pointer;
}

.header-menu--hamburger {
	margin-left: 32px;
}

.body-container {
	height: 100%;
}

.body-header {
	padding-top: 16px;
	width: 100%;
	display: flex;
}

.body-header--left {
	height: 16px;
	width: 606px;
	border-bottom: 2px solid #d8d8d8;
}

.body-header--center {
	width: 100px;
	text-align: center;
	color: #ffffff;
}

.body-header--right {
	height: 16px;
	width: 606px;
	border-bottom: 2px solid #d8d8d8;
}

.body-title {
	padding-top: 16px;
	color: #ffffff;	
	font-family: "Playfair Display";
	font-size: 48px;
	font-weight: 900;
	letter-spacing: 0.02px;
	line-height: 64px;
	text-align: center;
}

.body-slider--container {
	margin-top: 64px;
	display: flex;
	justify-content: space-between;
	width: 1333px;
}

.body-slider--person-header {
	display: flex;
	color: #ffffff;
	z-index: 3;
	font-family: Arial;
	width: 416px;
}

.person-info {
	width: 296px;
	text-align: center;
}

.person-name {
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
}

.person-position {
	font-size: 16px;
	font-weight: bold;
	line-height: 32px;
}

.body-slider--person-img {
	z-index: 3;
}

.body-slider--person-detail {
	height: 384px;
	width: 352px;
	padding: 0px 32px;
	border-radius: 8px;
	background-color: #FFFFFF;
	overflow-y: scroll;
	color: #000000;
	font-family: Arial;
	font-size: 16px;
	line-height: 32px;
	margin-top: -32px;
	z-index: 2;
}

.body-slider--person-detail::-webkit-scrollbar {
    width: 8px;
}
.body-slider--person-detail::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
.body-slider--person-detail::-webkit-scrollbar-thumb {
    background: #BFAB25; 
}
.body-slider--person-detail::-webkit-scrollbar-track {
    border-radius: 8px;
}
.body-slider--person-detail::-webkit-scrollbar-thumb {
    border-radius: 8px;
}

.uk-active a {
	background-color: #cbb93c !important;
}

.footer-container {
	display: flex;
    height: 64px;
    bottom: 0px;
    position: fixed;
    width: 100%;
}

.footer-content {
	background-color: #cbb93c;
	width: 100%;
}

.footer-content::before {
	
}

.footer-content .page-width::before {
	position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 64px solid transparent;
    border-right: 64px solid transparent;
    border-bottom: 32px solid #cbb93c;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.footer-arrow--btn {
	margin-top: -32px;
}
@media screen and (max-width: 639px) {
	.page-width {
	    width: calc(100% - 40px);
	    margin: 0px auto;
	}
	.body-title {
		font-size: 28px;
	}
	.person-info {
		text-align: left;
		margin-left: 10px;
	}
	.header-menu--button {
    	padding: 0px 16px;
	}
	.body-content {
		margin-bottom: 100px;
	}
	.body-slider--container {
		width: unset;
	}
	.body-slider--person-header {
		width: unset;
	}
	.body-slider--person-detail {
		width: unset;
	}
}
@media screen and (max-width: 959px) and (min-width: 640px)  {
	.page-width {
	    width: calc(100% - 40px);
	    margin: 0px auto;
	}
	.body-title {
		font-size: 32px;
	}
	.header-menu--button {
    	padding: 0px 16px;
	}
	.body-content {
		margin-bottom: 100px;
	}
	.body-slider--container {
		width: unset;
	}
	.body-slider--person-header {
		margin: 0px auto;
	}
	.body-slider--person-detail {
		margin-left: auto;
		margin-right: auto;
	}
}
@media screen and (max-width: 1439px) and (min-width: 960px)  {
	.page-width {
	    width: calc(100% - 40px);
	    margin: 0px auto;
	}
	.body-title {
		font-size: 40px;
	}
	.header-menu--button {
    	padding: 0px 16px;
	}
	.person-info {
		text-align: left;
		margin-left: 10px;
	}
	.body-content {
		margin-bottom: 100px;
	}
	.body-slider--container {
		width: 960px;
		margin-left: auto;
		margin-right: auto;
	}
	.body-slider--person-container {
		margin-right: 10px;
	}
	.body-slider--person-header {
		width: unset;
	}
	.body-slider--person-detail {
		width: unset;
	}
}
@media screen and (min-width: 1440px)  {
}